<section class="bg-dark text-light p-5 text-center">
    <div class="container">
    <div class="d-flex">
        </div>
        <div>
        <h1>Welcome to Valorants Info Hub!</h1>
        </div>
        <img class="img-fluid "src="../public/images/JettCoverImg.webp" alt"backgroundJett image">
        </div>
    </div>
</section> 